$green: #00c192;
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Playfair+Display:400,700);
*, 
*:before, 
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #FFF0F5;
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display', serif;
}
 .scroll {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
span {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

.screen { 
  width: 100%;
  height: 85%;
}
.screen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  object-fit: cover;
  z-index: 1;
}

.screen-caption {
  position: relative;
  top: 15%;
  left: 30.5%;
  width: 55%;
  height: 80%;
  z-index: 2;
  border: 5vw solid white;
  border-image: url("../images/run1.gif");
  border-image-slice: 22%;
  box-shadow: 
    0 0 100px rgba(black, 0.4),
    inset 0 0 100px rgba(black, 0.4);
}
.screen-caption .inner {
  position: absolute;
  display: inline-block;
  top: 100%;
  transform: translateX(-68%) translateY(-45vh);
}
.screen-caption h2 {
  display: inline-block;
  margin-bottom: 1rem;
  color: black;
  text-align: left;
  font-weight: 300;
  font-size: 7vw;
  line-height: 7.8vw;
}
.screen-caption .link {
  position: absolute;
  display: inline-block;
  margin: 12vh 0 0 20px;
  padding-bottom: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid white;
    transform: translateX(208%) translateY(-14vh);
  
  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid white;
  }  
}
.instr{
    margin: 100px;
    font-size: 1.5vw;
}
.ff{
    text-align: center;
     font-size: 1.6vw;
}

